<h1>日記クイズに挑戦！</h1>

<% if @daily_quiz.present? %>

  <%= form_with model: @quiz_attempt, local: true do |f| %>

    <%= f.hidden_field :daily_quiz_id %>

    <div class="quizAttempt__card">
      <h2><%= @daily_quiz.post.post_date.strftime("%Y年%m月%d日") %>の日記より出題</h2>
      
      <div class="quizAttempt__postContent">
        <p><strong>日記本文:</strong></p>
        <% original_content = @daily_quiz.post.content %>
        <% answer = @daily_quiz.correct_answer %>
        <% replacement = '---' %>
        <% masked_content = original_content.gsub(answer, replacement) %>
        
        <p class="post-text"><%= masked_content %></p>
      </div>

      <hr>

      <div class="quizAttempt__question">
        <h3>問題</h3>
        <p><%= @daily_quiz.question_text %></p>

        <div class="field">
          <%= f.label :user_answer, "あなたの解答" %>
          <%# ユーザーの解答を入力するフィールド %>
          <%= f.text_field :user_answer, placeholder: "答えを入力", required: true, class: "text-inout" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "解答を送信", class: "big-button primary-color" %>
    </div>
  <% end %>

<% else %>
  <p>挑戦できるクイズがありません。日記をもっと投稿しましょう！</p>
<% end %>